h1 {
  color:white;
}

h3 {
  font-weight: bold;
}

nz-card {
  background-color: rgb(167,170,172);
  border-color: rgb(52,58,64);
}

.dataValue {
  font-weight: normal;
  font-size: 14px;
  margin-left: 20px;
}

.skillCard .card-title, .educationCard .card-title, .experienceCard .card-title {
  text-align: center;
}

// .skillCard {
//   padding: 5px !important;
// }

nz-card {
  margin-bottom: 10px;
}

nz-collapse-panel {
  background-color: rgb(167,170,172);
}

.reloadIcon:hover {
  cursor: pointer;
}

.emailIcon {
  margin-left:10px;
}

.emailIcon:hover {
  color: rgb(52,58,64);
}
