<h1>All CVs</h1>
<div nz-row nzJustify="center">
  <div nz-col [nzSpan]="5">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text" (input)="search($event)" value="{{searchValue}}"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <div nz-col [nzSpan]="6">

      <nz-form-item>
        <nz-form-label [nzSpan]="12" nzFor="skills">Skills&nbsp; <span class="infoMsg">(has all of)</span></nz-form-label>
        <nz-form-control [nzSpan]="12" >
          <nz-select
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="listOfSelectedValue"
            id="skills"
            (ngModelChange)="filter()"
            [nzNotFoundContent]="addNewSkill"
            (input)="typeSkill($event)"
          >
            <nz-option *ngFor="let skill of skillsList" [nzLabel]="skill" [nzValue]="skill"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
          <ng-template #addNewSkill>
            <button nz-button nzType="primary" (click)="addSkill()" style="width:100%;white-space: normal; height:fit-content">Add {{typedSkillValue}} to skills</button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

  </div>
  <div nz-col [nzSpan]="6">

      <nz-form-item>
        <nz-form-label [nzSpan]="12" nzFor="education">Education&nbsp; <span class="infoMsg">(has any of)</span></nz-form-label>
        <nz-form-control [nzSpan]="12" >
          <nz-select
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="listOfSelectedEducation"
            id="education"
            (ngModelChange)="filter()"
            [nzNotFoundContent]="addNewEducation"
            (input)="typeEducation($event)"
          >
            <nz-option *ngFor="let education of educationList" [nzLabel]="education" [nzValue]="education"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
          <ng-template #addNewEducation>
            <button nz-button nzType="primary" (click)="addEducation()" style="width:100%;white-space: normal; height:fit-content">Add {{typedEducationValue}} to education</button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

  </div>
  <div nz-col [nzSpan]="1"></div>
  <div nz-col [nzSpan]="3">
    <p style="text-align:center;">
      Filter Accuracy:
      <nz-slider [(ngModel)]="filterAccuracy" [nzTipFormatter]="accFormatter" [nzStep]="5" [nzMin]="30" [nzMax]="95" (ngModelChange)="filter()"></nz-slider>
    </p>
  </div>
  <div nz-col [nzSpan]="1"></div>
  <div nz-col [nzSpan]="2">
    <button (click)="resetFilters()" nz-button nzType="default" [nzSize]="sizeS" class="resetFilters">Clear Filters</button>
  </div>
</div>





<nz-collapse nzGhost>
  <nz-spin [nzSpinning]="isLoading" nzSimple></nz-spin>
  <ng-container *ngFor="let cv of cvs">
    <nz-collapse-panel
      *ngIf="cv.searchShowing && cv.filterShowing"
      [nzHeader]="cv.firstName + ' ' + cv.surname"
    >
      <div style="margin:0;" *ngIf="cv.showing">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="7" class="main">
            <nz-card>
              <div class="card-title">
                <h3>ID <span class="dataValue">{{cv.id}}</span></h3>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="7" class="main">
            <nz-card>
              <div class="card-title">
                <h3>Email <span class="dataValue">{{cv.email}} <a nz-icon nzType="mail" nzTheme="outline" href="mailto:{{cv.email}}?subject=Communication%20from%20Gendac%20-%20{{cv.firstName}}%20{{cv.surname}}" class="emailIcon"></a></span></h3>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="5" class="main">
            <nz-card>
              <div class="card-title">
                <h3>Phone <span class="dataValue">{{cv.phoneNumber}}</span></h3>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="3" class="main">
            <nz-card class="pdfCard" (click)="viewPDF(cv.pdfURL)">
              <div class="card-title">
                <h3>View PDF <i nz-icon nzType="file-pdf" nzTheme="outline"></i></h3>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="2" class="main">
            <nz-card class="pdfCard" (click)="downloadPDF(cv.pdfURL)">
              <div class="card-title">
                <h3><i nz-icon nzType="download" nzTheme="outline"></i></h3>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="12" class="main">
            <nz-card>
              <div class="card-title">
                <h3>Skills</h3>
                <div nz-row [nzGutter]="24">
                  <div  *ngFor="let skill of cv.skills" nz-col [nzSpan]="8" class="skills">
                    <nz-card [nzSize]="small" class="skillCard">
                      <div class="card-title">{{skill}}</div>
                    </nz-card>
                  </div>
                </div>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="12" class="main">
            <nz-card>
              <div class="card-title">
                <h3>Education</h3>
                <div nz-row [nzGutter]="24">
                  <div  *ngFor="let education of cv.education" nz-col [nzSpan]="8" class="education">
                    <nz-card [nzSize]="small" class="educationCard">
                      <div class="card-title">{{education}}</div>
                    </nz-card>
                  </div>
                </div>
              </div>
            </nz-card>
          </div>
          <!-- <div nz-col [nzSpan]="8" class="main">
            <nz-card>
              <div class="card-title">
                <h3>Experience</h3>
                <div nz-row [nzGutter]="24">
                  <div nz-col [nzSpan]="12" class="experience">
                    <nz-card [nzSize]="small" class="experienceCard">
                      <div class="card-title">{{cv.experience}}</div>
                    </nz-card>
                  </div>
                </div>
              </div>
            </nz-card>
          </div> -->
        </div>
      </div>
    </nz-collapse-panel>
  </ng-container>
  <ng-container *ngIf="cvs.length == 0">
    <p class="infoMsg" style="text-align:center;">No results found</p>
  </ng-container>
</nz-collapse>
