<h1>All CVs</h1>

<nz-collapse>
  <nz-collapse-panel
    *ngFor="let cv of cvs"
    [nzHeader]="cv.firstName + ' ' + cv.surname"
  >
    <div style="margin:0;">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6" class="main">
          <nz-card>
            <div class="card-title">
              <h3>ID <span class="dataValue">{{cv.id}}</span></h3>
            </div>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="6" class="main">
          <nz-card>
            <div class="card-title">
              <h3>Email <span class="dataValue">{{cv.email}} <a nz-icon nzType="mail" nzTheme="outline" href="mailto:{{cv.email}}?subject=Communication%20from%20Gendac%20-%20{{cv.firstName}}%20{{cv.surname}}" class="emailIcon"></a></span></h3>
            </div>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="6" class="main">
          <nz-card>
            <div class="card-title">
              <h3>Phone <span class="dataValue">{{cv.phoneNumber}}</span></h3>
            </div>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="6" class="main">
          <nz-card>
            <div class="card-title">
              <h3>PDF <button nz-button nzType="primary" class="dataValue" (click)="downloadPDF(cv.pdfURL)">View PDF</button></h3>
            </div>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="24" class="main">
          <nz-card>
            <div class="card-title">
              <h3>Skills <span [hidden]="cv.hasSkills" nz-tooltip nzTooltipTitle="Refresh Page"><i nz-icon nzType='reload' nzTheme='outline' (click)="reloadPage()" class="reloadIcon"></i></span></h3>
              <div nz-row [nzGutter]="24">
                <div  *ngFor="let skill of cv.skills" nz-col [nzSpan]="4" class="skills">
                  <nz-card [nzSize]="small" class="skillCard">
                    <div class="card-title">{{skill}}</div>
                  </nz-card>
                </div>
              </div>

            </div>
          </nz-card>
        </div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
