h1 {
  color:white;
}

h3 {
  font-weight: bold;
}

nz-card {
  background-color: rgb(167,170,172);
  border-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

.pdfCard {
  background-color: #1890ff;
  border: none;
  text-align: center;
  color: white;
}

.pdfCard .card-title h3 {
  color: white;
  transition: 0.3s;
}

.pdfCard:hover {
  cursor: pointer;
  border: solid white 1px;
}

.dataValue {
  font-weight: normal;
  font-size: 14px;
  margin-left: 20px;
}

.skillCard .card-title, .educationCard .card-title, .experienceCard .card-title {
  text-align: center;
  color:white;
}

.skillCard, .educationCard, .experienceCard {
  background-color: rgb(52,58,64);
}

nz-collapse {
  border-radius: 10px;
}

nz-collapse-panel {
  border-radius: 10px;
  border:solid white 1px;
  background-color: rgb(167,170,172);
  margin-bottom: 5px;
}

.ant-collapse-header {
  color: white;
  font-weight: bold;
}

.reloadIcon:hover {
  cursor: pointer;
}

.emailIcon {
  margin-left:10px;
}

.emailIcon:hover {
  color: rgb(52,58,64);
}
