<h1>All CVs</h1>
<div nz-row>
  <div nz-col [nzSpan]="6">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="input search text" (input)="search($event)" value="{{searchValue}}"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
  <div nz-col [nzSpan]="6">

      <nz-form-item>
        <nz-form-label [nzSpan]="12" nzFor="skills">Skills</nz-form-label>
        <nz-form-control [nzSpan]="12" >
          <nz-select
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="listOfSelectedValue"
            id="skills"
            (ngModelChange)="skillFilter()"
          >
            <nz-option *ngFor="let skill of skillsList" [nzLabel]="skill" [nzValue]="skill"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
        </nz-form-control>
      </nz-form-item>

  </div>
  <div nz-col [nzSpan]="6">

      <nz-form-item>
        <nz-form-label [nzSpan]="12" nzFor="education">Education</nz-form-label>
        <nz-form-control [nzSpan]="12" >
          <nz-select
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="listOfSelectedEducation"
            id="skills"
            (ngModelChange)="skillFilter()"
          >
            <nz-option *ngFor="let education of educationList" [nzLabel]="education" [nzValue]="education"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
        </nz-form-control>
      </nz-form-item>

  </div>
  <div nz-col [nzSpan]="6">

      <nz-form-item>
        <nz-form-label [nzSpan]="12" nzFor="experience">Experience</nz-form-label>
        <nz-form-control [nzSpan]="12" >
          <nz-select
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="listOfSelectedExperience"
            id="skills"
            (ngModelChange)="skillFilter()"
          >
            <nz-option *ngFor="let experience of experienceList" [nzLabel]="experience" [nzValue]="experience"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

</div>





<nz-collapse>
  <ng-container *ngFor="let cv of cvs">
    <nz-collapse-panel
      *ngIf="cv.searchShowing && cv.filterShowing"
      [nzHeader]="cv.firstName + ' ' + cv.surname"
    >
      <div style="margin:0;" *ngIf="cv.showing">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="6" class="main">
            <nz-card>
              <div class="card-title">
                <h3>ID <span class="dataValue">{{cv.id}}</span></h3>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="6" class="main">
            <nz-card>
              <div class="card-title">
                <h3>Email <span class="dataValue">{{cv.email}} <a nz-icon nzType="mail" nzTheme="outline" href="mailto:{{cv.email}}?subject=Communication%20from%20Gendac%20-%20{{cv.firstName}}%20{{cv.surname}}" class="emailIcon"></a></span></h3>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="6" class="main">
            <nz-card>
              <div class="card-title">
                <h3>Phone <span class="dataValue">{{cv.phoneNumber}}</span></h3>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="6" class="main">
            <nz-card>
              <div class="card-title">
                <h3>PDF <button nz-button nzType="primary" class="dataValue" (click)="downloadPDF(cv.pdfURL)">View PDF</button></h3>
              </div>
            </nz-card>
          </div>
          <div nz-col [nzSpan]="24" class="main">
            <nz-card>
              <div class="card-title">
                <h3>Skills <span [hidden]="cv.hasSkills" nz-tooltip nzTooltipTitle="Refresh Page"><i nz-icon nzType='reload' nzTheme='outline' (click)="reloadPage()" class="reloadIcon"></i></span></h3>
                <div nz-row [nzGutter]="24">
                  <div  *ngFor="let skill of cv.skills" nz-col [nzSpan]="4" class="skills">
                    <nz-card [nzSize]="small" class="skillCard">
                      <div class="card-title">{{skill}}</div>
                    </nz-card>
                  </div>
                </div>

              </div>
            </nz-card>
          </div>
        </div>
      </div>
    </nz-collapse-panel>
  </ng-container>
</nz-collapse>
