<div id="login-container">
  <img src="assets/images/GendacLogo.png" alt="">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your email">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your password">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="loginState.isLoading">Log in</button>
    </nz-form-item>
    <nz-alert *ngIf="loginState.hasError" nzType="error" [nzMessage]="loginState.errorMessage"></nz-alert>
  </form>
</div>
